@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600&display=swap');

/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*hidden*/
.hidden{
    display: none;
}
/*p1main*/
#starter-img img{
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*modal*/
.modal{

    position: fixed;
    margin-top: 20rem;
    top: 50%;
    bottom: 50%;
    transform: translate(-30%,30%);
    border: 1px solid white;
    border-radius: 10px;
    background-color: azure;
    width: 500px;
    z-index: 10000;
}
/*navbar*/
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;
    background-color: #031323;
   
    z-index: 1000;
    transition: top 1s;
}  
.nav-about a #about{
    text-align: left;
}
.nav-about a {
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;;
}
.nav-ele{
    display: flex;
    width: 47%;
    justify-content: space-around;
    z-index: 1000;
}
.nav-ele a{
    text-decoration: none;
    letter-spacing: 0.2rem;  
    font-weight: solid;
    font-size: 1rem;
    font-weight: bold;
    color: cornsilk;
}
/*burger*/
.burger{
    display: none;
}
.burger div{
    width: 1.5rem;
    height: 0.25rem;
    background-color: cornsilk;
    margin: 0.3rem;
    transition: all 0.5s ease;
}
/*modal*/

  .close-modal {
    
    font-size: 5rem;
    color: #e0e0e0;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 10000;
   
    
  }
  .modal {
    position: absolute;
    
    margin-top: 100px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 70%;
    height: max-content;
    background:#031323;
    
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10000;
  }
  .modal h1{
    margin-left: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
      font-size: 4em;
      margin: 60px;
      margin-top: 0;

  }
  .modal p{
    margin-left: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
      font-size: larger;
      margin: 60px;

  }
  
  .overlay {
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 50000;
  }
  text{
      margin-top: 225rem;
  }
  
  
  /*ads*/
  .ads{
    height: 50rem; 
    background-image: url('wallpaperhs.jpg');  
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*Message*/
#starter-msg{
    padding-top: 6rem;
    text-align: center;
    text-transform: capitalize;
    color: brown;
    font-size: 2rem;
    position: relative;
    z-index: 10;
}
/*cards*/
.card-row{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    position: relative;
    z-index: 10;
}
.card-space{
  width: 12rem;
  height: 15.5rem;
  position: relative;
  z-index: 10;
  background-color: wheat;
  margin: 2rem;
  border-radius: 1rem;
  opacity: 0.7;
}
.card{
    box-shadow: 2px white;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card-face img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-radius: 1rem;
}
.card-face{

  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card-face--back{
  transform: rotateY( 180deg );
}
.card.is-flipped{
  transform: rotateY(180deg);
} 
.card img{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 2px white;
}

/*message*/
.message-box{
    height: fit-content;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    background-color: black;
    opacity: 0.7;
    padding: 2rem 0;
    position: relative;
    z-index: 10;
  
  }
  .message-horroscope{
      text-align: center;
      font-size: 2rem; 
      text-transform: capitalize;
      color: rgb(168, 39, 39);
      opacity: 1;
    }

  
  .btn-get-horroscope{background-image: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%)}
  .btn-get-horroscope{
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 3px black;
     border-radius: 10px;
     display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.1rem;
    position: relative;
    z-index: 10;
   }

.btn-get-horroscope:hover {
     background-position: right center; /* change the direction of the change here */
     color: black;
     text-decoration: none;
   }


/*contacts*/
  .contact{
    height: fit-content;
    background-color: black;
    padding: 3rem;

    width: 100%;
    position: relative;
    z-index: 10;
    
}
#contact-info{
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    width: 60%;
}
footer {
    background-color: #031323;
    padding: 3rem;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
}

footer .row-one {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .row-one ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .row-one a {
    padding-right: 20px;
    font-size: 26px;
    color: #ffffff;
}

footer .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

footer .second-row ul {
    margin: 0 8px;
    padding: 0;
}

footer .second-row h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    padding-bottom: 20px;
}

footer .second-row li {
    padding-bottom: 12px;
}

footer .second-row li a {
    font: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
}

footer .second-row .first-row:nth-child(4) {
    max-width: 200px;
}

footer .second-row .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
}

footer .second-row .newsletter input {
    position: relative;
    right: 13px;
    width: 248px;
    height: 44px;
    border-radius: 50px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    padding: 0 24px;
    border: 0;
    background-color: #FFFF;
    font-weight: 500;
    outline: none;
}

footer .second-row .newsletter input::placeholder {
    opacity: 1;
    color: #6c6c6c;
}

footer .second-row .newsletter button {
    position: absolute;
    top: 0;
    right:-26px;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    font-size: 20px;
    color: #000;
    background-color: none;
    cursor: pointer;
}

footer .first-row .footer-title {
    margin-bottom: 0;
}

footer .footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .footer-icon ul {
    position: relative;
    left: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .footer-icon a {
    padding-right: 20px;
    font-size: 26px;
    color: #FFF;
}

footer .footer-icon a img {
    width: 30px;
    height: 30px;
}

.botom-info {
    position: relative;
    left: 20px;
    top: 45px;
    display: flex;
    flex-direction: row;
}

.botom-info a {
    color: #fff;
    padding: 0 20px;
}

footer .copyright {
    position: absolute;
    left: 70%;
}

footer .copyright p {
    margin-top: -50px;
    color: #fff;
}


.botom-info {
    position: relative;
    left: -11px;
    top: 34px;
    display: flex;
    flex-direction: row;
    font-size: 9px;
}

.botom-info a {
    color: #fff;
    padding: 0 10px;
}

footer .copyright {
    position: absolute;
    left: 70%;
}

footer .copyright p {
    margin-top: -50px;
    position: relative;
    right: 33px;
    color: #fff;
    font-size: 10px;
}

.zodiac{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-height: 100%;
    
    padding: 30px;
    
    background: #e0e0e0;
    box-shadow: inset 19px 19px 37px #b5b5b5,
            inset -19px -19px 37px #ffffff;
}

.zodiac  .zodiac-row-1{
    margin-left: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}
.zodiac  .zodiac-signs{
    padding: 10px;
    width: 85%;
    margin-bottom: 40px;
}


.zodiac .zodiac-row-1 .zodiac-head {
    padding-bottom: 12px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    
}
.zodiac .zodiac-row-1 .zodiac-signs .zodiac-head .info{
    margin-left: 30px;
    font-size: 20px;
    word-wrap: break-word;
    padding-bottom: 12px;
    
}



.zodiac #zodiac-signs-1{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}



.zodiac  #zodiac-signs-3{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}

.zodiac  #zodiac-signs-5{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}

.zodiac #zodiac-signs-8{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}

.zodiac #zodiac-signs-10{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}
.zodiac #zodiac-signs-12{
    padding: 30px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;
}
.zodiac #zodiac-signs-12:hover,#zodiac-signs-10:hover,#zodiac-signs-8:hover,#zodiac-signs-5:hover,#zodiac-signs-3:hover,#zodiac-signs-1:hover{
    transition: all 0.3s ease;
    box-shadow: none;
    background: none;    
}

.zodiac #zodiac-signs-11:hover,#zodiac-signs-9:hover,#zodiac-signs-7:hover,#zodiac-signs-6:hover,#zodiac-signs-2:hover,#zodiac-signs-4:hover{
    transition: all 0.3s ease;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  19px 19px 37px #acaaaa,
             -19px -19px 37px #ffffff;  
}

.zodiac #zodiac-signs-11,#zodiac-signs-9,#zodiac-signs-7,#zodiac-signs-6,#zodiac-signs-2,#zodiac-signs-4{
      padding: 30px;
}
 
.zodiac  .zodiac-row-2{
   
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

.zodiac  .zodiac-row-2 .zodiac-signs{
    padding: 10px;
    width: 85%;
}

.zodiac .zodiac-row-2 .zodiac-head {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    
}
.zodiac .zodiac-row-2 .zodiac-head .info{
    margin-left: 20px;
    font-size: 19px;
    word-wrap: break-word;
    
}

/*form*/
.contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1.2rem;
   
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
}

.contactus h3 {
    margin-top: 100px;
    font-size: 45px;
    font-weight: 700;
}

.contactus h6 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
    color: black;
}

.contactus .form {
    width: 70%;
}
.contactus .form textarea {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 55px 25px 25px 25px;
    width: 90%;
    height: 7rem;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;

}


.contactus .form .comp-row input,.contactus .form .first-row .input-1,.contactus .form .first-row .input-2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 55px 25px 25px 25px;
    width: 39%;
    height: 56px;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
}

.contactus .form .first-row .input-1,.contactus .form .first-row .input-2{
    
    margin-top: 25px;
    width: 90%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 6px 25px 0 25px;
    font-size: 16px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.contactus .form textarea::placeholder {
    padding-top: 7px;
}

.contactus .form .header-btn {
    margin: 2rem auto;
    width: 170px;
}

.contactus .form .pageclip-form__submit {
    background-color: #031323;
    color: #fff;
    padding: 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    outline: none;
    width: 190px;
}
.contactus .form .pageclip-form__submit span{
    height: 10px;

}





/*screen transition*/
@media screen and (max-width:1024px) {
    .nav-ele{      
        width: 60%;       
    }    
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-ele {
        position: absolute;
        right: 0px;
        top: 8vh;
        height:  92vh;
        background-color: #031323;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; 
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateX(100%);  
        transition: transform 0.5s ease-in;
    }
    .nav-ele a{
        opacity: 0;
    }
    .burger{
        display: block;
    }   
    .nav-active{
        transform:translateX(0%);
}
 #starter-msg{
     font-size: 1rem;
 }
 .card-row{
    padding-top: 0.5rem;
    
}
.btn-get-horroscope{
    padding: 8px 25px;
   font-size: 0.6rem;
}

/*mobile screen sliding navbar transition*/
@keyframes navEleFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-6px,6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px,-6px);   
}
/*card row css for small screens*/
@media screen and (max-width:736px) {
    .card-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-space{
      width: 6rem;
      height: 8rem;
    }
}
@media only screen and (max-width: 774px) {
    body {
        width: 100%;
    }
    header {
        background-image: url("/studioZeroOne/images/Untitled-1.jpg");
        width: 101%;
        height: 434px;
    }
    .nav {
        width: 95%;
        padding: 0.7rem 1rem;
    }
    .nav .logo {
        margin-left: 50px;
    }
    .nav .logo img {
        width: 100px;
        height: 50px;
    }
    .nav.scrolled {
        background-color: rgba(0, 0, 0, 0.5) !important;
        transition: background-color 200ms linear;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .nav .navbar-toggler {
        display: block;
        position: absolute;
        top: 26px;
        right: 14px;
        z-index: 1000000;
    }
    .nav .menu-bar {
        position: fixed;
        top: 55px;
        right: -360px;
        width: 249px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li {
        position: relative;
        left: 131px;
        margin: 2rem 30px;
    }
    .hero-text {
        position: absolute;
        top: 43px;
        left: 34px;
        width: 80%;
    }
    .hero-text h3 {
        font-size: 56px;
        font-weight: 700;
        color: white;
    }
    .hero-text h6 {
        font-size: 56px;
        margin-top: -90px;
        padding: 0;
    }
    .hero-text p {
        font-size: 14px;
        margin-top: -131px;
    }
    .header-btn {
        margin-left: -46px;
        display: flex;
        flex-direction: row;
    }
    .header-btn li a {
        color: #fff;
        padding: 7px 10px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        background-color: #2A1E33;
        outline: none;
    }
    .header-btn li a:hover {
        color: #ffc040;
    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 101%;
        padding-bottom: 93px;
        margin-top: -60px;
        margin-bottom: 1.2rem;
        background-color: #658c99;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .services h3 {
        margin-top: 100px;
        font-size: 45px;
        font-weight: 700;
    }
    .services h6 {
        margin: 0 33px;
        font-size: 16px;
        font-weight: 400;
        margin-top: -30px;
        color: #fff;
    }
    .provided {
        box-sizing: border-box;
        display: inline-block;
    }
    .provided .graphicdesign {
        position: relative;
        top: 3px;
        display: inline-block;
        border: none;
        margin: 63px 15px 4px 13px;
        width: 300px;
        height: 400px;
        padding: 20px 10px 10px 10px;
        background-color: #ffc040;
        border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .provided .socialmedia {
        position: relative;
        top: 50px;
        display: inline-block;
        border: none;
        margin: 20px 15px 49px 13px;
        width: 300px;
        height: 400px;
        padding: 20px 10px 10px 10px;
        background-color: #ffc040;
        border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .provided .productdesign {
        position: relative;
        top: 50px;
        display: inline-block;
        border: none;
        margin: 20px 15px 4px 13px;
        width: 300px;
        height: 400px;
        padding: 20px 10px 10px 10px;
        background-color: #ffc040;
        border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .aboutus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 1.2rem;
        background-color: #FFE194;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .aboutus h3 {
        margin-top: 100px;
        font-size: 45px;
        font-weight: 700;
    }
    .aboutus h6 {
        font-size: 15px;
        font-weight: 400;
        margin-top: -30px;
        color: black;
    }
    .aboutus-img img {
        width: 578px;
        height: 361px;
        margin: 50px 0 20px 0;
        z-index: 5;
    }
    .contactus h3 {
        margin-top: 100px;
        font-size: 45px;
        font-weight: 700;
    }
    .contactus h6 {
        font-size: 16px;
        font-weight: 400;
        margin-top: -30px;
        color: black;
    }
    .contactus .form {
        width: 80%;
    }
    .contactus .form .comp-row input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 55px 25px 25px 25px;
        width: 34%;
        height: 56px;
        border: 1px solid #cbced1;
        border-radius: 5px;
        padding: 0 25px;
        font-size: 16px;
        outline: none;
    }
    .contactus .form textarea {
        margin-top: 25px;
        width: 84%;
        resize: none;
        border: 1px solid #cbced1;
        border-radius: 5px;
        padding: 6px 25px 0 25px;
        font-size: 16px;
        outline: none;
        font-family: 'Poppins', sans-serif;
    }
    .contactus .form .header-btn {
        margin: 2rem auto;
        width: 170px;
    }
    footer {
        height: 390px;
    }
    footer .row-one {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: -30px;
    }
    footer .row-one ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    footer .row-one a {
        padding-right: 20px;
        font-size: 26px;
        color: #ffffff;
    }
    footer .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
    }
    footer .second-row ul {
        margin: 0;
        padding: 0;
    }
    footer .second-row h6 {
        font-size: 13px;
        font-weight: 600;
        line-height: 12px;
        color: #ffffff;
        padding-bottom: 19px;
    }
    footer .second-row li {
        padding-bottom: 12px;
    }
    footer .second-row li a {
        font-size: 10px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }
    footer .second-row .first-row:nth-child(4) {
        max-width: 100px;
    }
    footer .second-row .newsletter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 34px;
    }
    footer .second-row .newsletter input {
        position: relative;
        right: 26px;
        width: 148px;
        height: 44px;
        border-radius: 50px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        padding: 0 24px;
        border: 0;
        background-color: #FFFF;
        font-weight: 500;
        outline: none;
    }
    footer .second-row .newsletter input::placeholder {
        opacity: 1;
        color: #6c6c6c;
    }
    footer .second-row .newsletter button {
        position: absolute;
        top: 0;
        right: 8px;
        width: 44px;
        height: 44px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 0;
        font-size: 20px;
        color: #000;
        background-color: none;
        cursor: pointer;
    }
    footer .first-row .footer-title {
        margin-bottom: 0;
    }
    footer .second-row .first-row {
        box-sizing: border-box;
        display: inline-block;
    }
    footer .second-row .first-row .info {
        position: relative;
        top: 21px;
    }
    footer .second-row .first-row .sec-info {
        position: relative;
        top: 20px;
    }
    footer .footer-icon {
        display: inline-block;
        position: relative;
        left: 133px;
    }
    footer .footer-icon ul {
        position: relative;
        left: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    footer .footer-icon a {
        padding-right: 20px;
        font-size: 26px;
        color: #FFF;
    }
    footer .footer-icon a img {
        width: 25px;
        height: 25px;
    }
  
    
    
}


